body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
     box-sizing: border-box;
}

/* ********* Home Page ********** */
.home{
  height: 100vh;
  width: 100%;
position: relative;
    display: flex;
    align-items: center;
     justify-content:center;

}

.home-img{
  /* background-color: #00539C; */
  width: 75vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  border-radius: 10px;
  /* box-shadow: 5px 5px 8px black; */
  /* padding: 20px 30px; */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:url(../static/Images/back3.avif);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  opacity: 0.8; /* Adjust the opacity value as needed */
  z-index: -1;
}

.home-img img{
  width: 50vw;
}
.home-content{
  text-align: center;
  color: white;
  display: flex; 
  flex-direction: column;
  justify-content: center;
 align-items: center;
}


.home-content h1{
  font-family: "dancing script";
  font-size: 3rem;
}

.home-content span{
  color: yellow;
}
.home-content p{
  width: 500px;
}
.youtube-img img{
  width: 250px;
  border-radius: 10px;
  border: 2px solid white;
}



.text-container {
    position: relative;
    font-size: 24px;
    color: #333;
  }
  
  .welcome h1 {
    white-space: nowrap;
    overflow: hidden;
    /* animation:  write 3s steps(20) forwards; */
    animation: typing 2s steps(24, end), blink-caret 0.5s step-end infinite alternate;

  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #000 }
  }

 

.life-section{
    /* background-color: #2001a2; */
    margin-bottom: 0px;
    
}

.work-section{
    margin-top: -4px;
    color: white;
}

.music-section{
  position: relative;
    margin-top: -4px;
  
}

.woodstock img{
  position: absolute;
  top: 230px;
}
.music-btn{
    /* background-color: #e0a96d; */
    background-color: #c4b6f6;
    border: 1px solid black;
    margin-bottom: 7px;

}

.music-btn:hover{
    border: 2px solid black;
    cursor: pointer;
}

/* ********* wavy background **************** */
.wave1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.wave1 .shape-fill {
    /* fill: #CCCCFF; */
    fill: rgb(247, 187, 36);
}

/* ********** wave 2 ******** */
.wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.wave2 .shape-fill {
    fill:rgb(254, 133, 47);
}

.simply{
  width: 100vw;
  height: 400px;
}

/* ************* Flex box for life work and music ****** */

.flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 3px; */
    
}

.fbw{
  /* background-color: rgb(243, 244, 248);
  width: 70vw;
  margin: auto;
  border-radius: 10px;
  box-shadow:4px 4px 8px rgb(56, 55, 55); */

}

.fb2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    
}
.img-left{
    text-align: center;
   
}
.text{
   max-width: 500px;
    
}
.text2{
  padding-bottom: 0px;
}
.img-right img{
    height: 400px;
    width: 350px;
    margin-left: 50px;

}

/*  ************* cxo ********** */


.d-flex{
    justify-content:space-evenly;
    margin-top: 13px;
}

.content-flex{
    max-width: 500px;
    font-size: 1.2rem;
}



.img-flex img{
    max-height: 280px;
    max-width: 550px;
    border-radius: 10px;
    margin: 15px 0px;
}

@media screen and (max-width:800px) {
    .cxo img{
    width: 80vw;
    }
}

/* ********** ment-toon ************ */
.ment-toon{
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
    background: linear-gradient(rgb(245, 203, 66),rgb(254, 133, 47));
    
}

.ment-toon .flex-box{
    margin-bottom: 0px;
}

.mentoon-toonland{
    padding-top: 30px;
    /* background-color: #cc9d90cd; */
    background-color: rgb(255, 255, 255);
    margin: 20px 30px;
    padding-bottom: 0px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgb(60, 56, 56);
    transition: all 0.5s ease-in-out;

}

.mentoon-toonland:hover{
    cursor: pointer;
    /* box-shadow:14px 14px 8px; */
    transform: scale3d(1.3, 1.2, 0.3);
}

@media screen and (max-width:700px){
    .mentoon-toonland:hover{
        cursor: pointer;
        box-shadow:14px 14px 8px;
        transform:none;
    }
}

.content-men-toon{
    text-align: center;
   max-width: 502px;
   padding-bottom: 0px;
   background-color: #feea51;
   /* background-color: #E2D1F9; */
   border-radius: 10px;
}

/* ***************** Home image ************* */



@media screen and (max-width:900px){
   .fb2{
        flex-direction: column-reverse;
   }
}


.flex-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.left-contact{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.right-contact{
    /* background-color: rgb(10, 10, 10); */
    /* color: white; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-top: 2vh;
    border-radius: 20px;
    margin-left: 10vw;
    /* background-color: rgb(216, 210, 210); */
    background-color: #ffffff;
    
   
    border-radius: 10px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    

  }

  .fc{
    /* margin: 20px; */
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  form .fc input,textarea,button{
    padding: 7px;
    border-radius: 7px;
    opacity: 0.9;
    font-size: 15px;
    /* border: 3px solid black; */
    border: 1px solid #ccc;
    background-color: #ffffff;

    /* box-shadow: 4px 4px 7px grey; */
  }

  .text-area{
    margin-bottom: 0px;
  }
  @media screen and (max-width:479px){
    #name{
      width: 100%;
    }
    #number{
      margin-top: 5px;
      width: 100%;
    }
  }
 
  @media screen and (max-width:423px) {
    .left-contact{
      /* text-align: center;
      justify-content: center; */
  
    }

    .right-contact{
      width: 90vw;
    }
  
    .icon i{
      font-size: 20px;
    }
    .icon{
      margin: 0px;
      padding: 0px;
    }
  
  }
 
  @media screen and (max-width:758px)  {
    .right-contact{
        margin-left: 0vw;
      }
  }

  @media screen and (max-width:916px){
        .left-contact{
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 10px;
        }

        .left-contact h3{
            display: none;
        }
  }

  
@media screen and (max-width:493px) {
  .icon h5{
    display: inline;
    font-size: 15px;
  }
}

  /* ************ Icons *************  */
  
  .icon i{
    font-size: 30px;
    padding-bottom: 10px;
    color: #000000;
    /* color: #9d9deb; */
  }

  .icon{
    margin-bottom: 10px;
  }


  .lnk a{
    text-decoration: none;
    color: #333;
  }
  .email input , .message textarea{
    width: 100%;
  }

  form button{
    /* background-color: rgb(156, 200, 218); */
    /* background-color: #c4b6f6; */
    font-weight: bolder;
    font-size: large;
  }

  .more-work{
  
    width: 100vw;
    /* background-color: rgb(233, 230, 230); */
    background: linear-gradient(rgb(254, 133, 47),rgb(245, 203, 66));
    /* background: linear-gradient(rgb(250, 168, 27),rgb(231, 183, 24)); */
  }

  .more-work-btn{
    text-align: center;
    margin-bottom: 15px;
  }
  .more-work-btn button{ 
    border: 1px solid black;
  
  }

 


@media screen and (max-width:750px){
    .d-flex{
      justify-content: center;
    }
    .even{
       flex-direction: column-reverse;
    }    
}


@media screen and (min-width: 500px) and (max-width: 1000px) {
    .brain img{
        width: 250px;
        
    }

  }

  @media screen and (max-width:801px){
    .content-flex{
        margin-top: 10px;
    }
  }

  @media screen and (max-width:900px) {
    .img-right img{
        margin-left: 0px;
        width: 350px;
    }
  }

  
  @media screen and (max-width:360px) {
    .img-right img{
        width: 250px;
    }
  }

  @media screen and (max-width:585px) {
    .mentoon-toonland img{
        width: 300px;
    }
  }

  @media screen and (max-width:320px) {
    .mentoon-toonland img{
        width: 200px;
    }
  }

  /* **************** music images ********** */

  .more-music{
    /* background: linear-gradient(rgb(250, 168, 27),rgb(231, 183, 24)); */
    background: linear-gradient(rgb(231, 183, 24),rgb(250, 168, 27));
    margin-top: 0;
    width: 100vw;
  }

  .image-flex-box img{
    width: 350px;
    height: 350px;
    margin-bottom: 15px;
    /* border: 2px solid black; */
    margin: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

}

@media screen and (max-width:410px) {
  .image-flex-box img{
    width: 95vw;
  }
  
}

/* .image-flex-box img:hover{
    box-shadow: 10px 10px 10px grey;
} */

#photos{
    display: none;
}
.image-flex-box{
  
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}


.close-btn button{
  border: 1px solid black;
}


@media screen and (max-width:801px){
  .img-flex img{
    width: 250px;
  }

  .hand-img img{
    width: 250px;
  }
  
}

@media screen and (max-width:1000px) {
  .para3{
    display: none;
  }  
}

.icons a {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property:
      outline-offset, outline-color,
      background-color;
  transition-duration: .25s;
  margin: 4px;
}

.icons i:hover {
  outline-offset: 4px;
}

.icons i:hover i {
  animation: shake .25s;
}

.fb:hover{
  background-color: #0165E1;
  outline-color:#0165E1 ;
}

.insta:hover {
  background-image: radial-gradient(circle at 30% 107%,
          #fdf497 0%, #fdf497 5%,
          #fd5949 45%, #d6249f 60%,
          #285AEB 90%);
  outline-color: #a02d76;
}

.twt:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.li:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}



@keyframes shake {
  10% {
      transform: rotate(15deg);
  }

  20% {
      transform: rotate(-15deg);
  }

  30% {
      transform: rotate(15deg);
  }

  40% {
      transform: rotate(-15deg);
  }
}

.products a{
  display: block;
  text-decoration: none;
  color: white;
}

.products a:hover{
  color: rgb(192, 177, 177);
}

.flex-footer{
  display: flex;
  flex-wrap: wrap;
}

.mentoon-toonland button{
  border: 1px solid black;
}

.mentoon-toonland button:hover{
  border: 2px solid black;
}

@media screen and (max-width:540px) {
  .right-contact{
    width: 95vw;
  }
  
}



/* ***************** home page floating images ************8 */
.bubbles img{
  width: 50px;
  animation: bubble 7s linear infinite;
  /* opacity: 0.5; */
  
}

.bubbles i5{
  margin-bottom: 40%;
}

.bubbles{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  position: absolute;
  bottom:-70px;
}

.s1{
  margin-left: 50px;
  width: 110px;
}

.s3{
  margin-right: 50px;
  width: 110px;
}
@keyframes bubble{
  0%{
    transform: translate(y);
    opacity: 0;
  }
  50%{
   
    opacity: 1;
  }
  70%{
    
    opacity: 1;
  }
  100%{
    transform: translateY(-98vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1){
  animation-delay: 1s;
  
}
.bubbles img:nth-child(2){
  animation-delay: 0s;
}



.bubbles2 img{
  width: 70px;
  animation: bubble 7s linear infinite;
  /* opacity: 0.5; */
  
}

.bubbles2 i5{
  margin-bottom: 40%;
}

.bubbles2{
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
  position: relative;
  margin-right: 300px;
  bottom:-70px;
}

@keyframes bubbles2{
  0%{
    transform: translate(y);
    opacity: 0;
  }
  50%{
   
    opacity: 1;
  }
  70%{
    
    opacity: 1;
  }
  100%{
    transform: translateY(-98vh);
    opacity: 0;
  }
}

.bubbles2 img:nth-child(1){
  animation-delay: 1s;
  width: 45px;
}
.bubbles2 img:nth-child(2){
  animation-delay: 0s;
}





@media screen and (max-width:450px) {
  .ms2{
    display: none;
  }

  .bubbles{
    justify-content: space-between;
  }
}

.vertical-line {
  border-left: 1px solid black;
  height: 200px;
  /* font-size: 30px; */

}



.wrapper-sec{
    padding:30px 10px;
    background-color: rgb(241, 84, 178);
    border-radius: 30px;
    width: 70vw;
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 208px;
  width: 208px;
  border-radius: 50%;
}
.card .img img {
  width: 208px;
  height: 208px;
  border-radius: 50%;
  object-fit: cover;
  
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

.brain{
  max-height: 300px;
  max-width: 450px;
  border-radius: 10px;
  margin-bottom: 20px;

}

.sales{
  max-height: 300px;
  max-width: 450px;
  border-radius: 10px;
  margin-bottom: 40px;
}

@media screen and (max-width:768px) {
  .brain{
    display: none;
  }

  .text2{
    margin-bottom: 20px;
  }

  .sales{
    display: none;
  }
  
}

.brand{
  /* text-align: right; */
  display: flex;
  justify-content: space-between;
  padding: 0px 4px;
}

.brand a img{
  width: 50px;
  height: 50px;
  
}

.brand a img:hover{
  transform: rotate(90deg);
  /* transform: scale(2); */
  
} 

.fb-a:hover{
  text-decoration: none;
}

@media screen and (max-width:550px) {
  .brand{
    display: block;
  }

  .brand h6{
    text-align: right;
    margin-bottom: 0px !important;
  }
  
}


/* *************************** music  */
.box{
  /* margin: 30px; */
  position: relative;
  display: inline-block;

}
/* 
.box img{
  width: 350px;
  height: 300px;
} */

.box:hover{
 cursor: pointer;
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
    height: 350px;
  opacity: 0;
  margin-bottom: 15px;
    /* border: 2px solid black; */
    margin: 30px;
    border-radius: 10px;

  background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity as desired */
  color: #fff; /* Adjust the text color as desired */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}
.box span{
  display: block;
}
.box:hover .content-overlay{
  opacity: 1;
  text-align: center;
  border: 2px solid black;
}

.fb-img{
  height: 40px !important;
  width: 35px !important;
} 

@media  screen and (min-width:478px) and (max-width:540px) {
  .name-num input{
    width: 100%;
  }

  .right-contact{
    width: 83vw;
  }
  .name{
    margin-bottom:5px ;
  }

}

@media screen and (max-width:478px) {
  .right-contact{
    width: 83vw;
  }
  
}

@media screen and (max-width:700px) {
  body{
    overflow-x: hidden;
  }
  

}

@media screen and (max-width:500px) {
  body{
    overflow-x: hidden;
  }
  

}

@media screen and (max-width:1047px) {
  .right-contact{
    margin-left: 10px;
  }

  .icon h5{
    width: 270px;
  }
  
}

.icon{

}

@media screen and (max-width:1047px) {
  .left-contact{
    margin-top: 20px;
    justify-content: space-evenly;
  
    
  }

  .icon{
    margin-left: 20px;
  }
  .left-contact .icon h5{
    display: inline;
    font-size: 17px;
  }

 
}

.music-image-right img{
  padding: 20px 0px;
}


.fc button:hover{
   background-color: #947cea;
  
  
}

footer{
    background-color: #000000;;
   color: white;
}

.vertical-line {
  border-left: 1px solid black;
  height: 180px;
  /* font-size: 30px; */

}

.vertical-line-small{
  border-left: 1px solid black;
  height: 150px;
}


@media screen and (max-width:900px) {
  .vertical-line{
    display: none;
  }

  .content-flex{
    font-size: 1rem;
  }
  
}






.music-section{
  /* background-color: #fdc0a2;  */
  color: rgb(0, 0, 0);
  background-color: #ecb913;
  background: linear-gradient(rgb(250, 168, 27),rgb(231, 183, 24));
}

#mb{
  border: 1px solid black;
}

.contact{
  background-color:#FBEAEB;
  background: linear-gradient(rgb(255, 234, 0),rgb(255, 217, 0));
}

.right-contact{
 
  background-color: rgb(255, 234, 0);
}

footer{
  background-color:#00539C;
}



  

.fix-image1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
}


.fix-image2{
  position: fixed;
  top: 0;
  right: 10px;
  width: 100px;

}

@media screen and (max-width: 1003px){
body{
  overflow-x: hidden;
}
.moving-image{
  display: none;
}  

.container-small2{
  display: none;
}
}



@media screen and (max-width: 793px){
  body{
    overflow-x: hidden;
  }
.home-img img {
    width: 556px ;
}
}

@media screen and (max-width: 600px){
  body{
    overflow-x: hidden;
  }
.home-img img {
    width: 480px ;
}
}


@media screen and (max-width:650px) {
  body{
    overflow-x: hidden;
  }

}

@media screen and (max-width:1500px) {
  .img-right img{
    margin-bottom: 20px;
  }
  
}

